<% provide(:title, 'Home') %>
<!DOCTYPE html>
 <title>Campus Connect | <%= yield(:title) %></title>
<h1>Campus Connect<h1>

  <h3>Google Maps will go here eventually</h3>


  <%= link_to "colleges", :controller => "colleges", :action => "index" %>





  <h5>Brought to you by Nishant Chandra</h5>